@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 0 120px;
}

header div {
    display: flex;
    align-items: center;
}

header h1 {
    color: #777777;
    font-size: 30px;
    margin: 0;
    font-weight: 300;
}

header h2 {
    font-size: 16px;
    font-weight: 300;
    color: #AAAAAA;
    margin: 0;
    line-height: 16px;
    margin-left: 5px;
}

header img {
    width: 25px;
    height: 15px;
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.principal {
    margin-top: 40px;
    background-size: cover;
    position: relative;
}

.principal img {
    width: 100%;
}

.principal .setas {
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal .setas button {
    background-color: rgba(170, 170, 170, 0.8);
    border: none;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;

}

.principal .setas button img {
    width: 20px;
}

.cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.cards .card {
    width: 500px;
    background: #EEEEEE;

}

.cards .card img {
    width: 100%;
    height: 300px;
}

.cards .card .descricao {
    padding: 20px;
}

.cards .card .descricao button {
    background: #51D275;
    width: 120px;
    height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.cards .card .descricao .detalhes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cards .card .descricao .preco {
    margin: 5px 0;
    color: #888888;
    font-size: 30px;
    font-weight: 400;
}

.cards .card .descricao p {
    color: #555555;
    font-size: 18px;
    text-align: justify;
}

.cards .card .descricao .btn-sale {
    background-color: #DC9730;
}

.your-style {
    margin-top: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.your-style h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888888;
    font-size: 35px;
    font-weight: 400;
    margin: 0 auto;
}

.your-style img {
    width: 100%;
    margin-top: 25px;
    opacity: 65%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.your-style .caixa-imagens .caixa {
    position: relative;
}

.your-style .caixa-imagens .caixa h3 {
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

footer {
    background-color: #333333;
    height: 380px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

iframe {
    width: 480px;
    height: 260px;
    border-radius: 30px;
    margin-top: 50px;
}

.dados-footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.dados-footer p {
    font-size: 20px;
}

.dados-footer .redes-sociais img {
    margin: 10px 10px 10px 0;
    width: 25px;
    cursor: pointer;
}